// showing default values
@tailwind preflight;
@tailwind components;
@tailwind utilities;

$old_accentColor = #3eaf7c
$accentColor = #ff0000
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

